* {
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  height: 600px;
  width: 100vw;
  position: relative;
}

.contact-me {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 100px;
  height: 40px;
  background: #5adeed;
  display: block;
  line-height: 40px;
  color: #84b833;
  text-decoration: none;
  text-align: center;
}

.main-block {
  color: white;
  padding-left: 20%;
  display: flex;
  background: #0a173d;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.app-tools {
  min-height: 100vh;
  display: flex;
}

.app-tools .side-bar {
  width: 400px;
  background: #5adeed;
}
.app-tools .main-bar {
  width: calc(100% - 400px);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app-tools .tag {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tag-image {
  width: 80%;
  border-radius: 3px;
  box-shadow: 0 0 58px -3px rgba(0, 0, 0, 0.4);
}

.name {
  display: block;
  font-size: 48px;
  font-weight: 700;
}

.designation {
  display: block;
  font-size: 36px;
  font-weight: 400;
  color: #84b833;
}

.location {
  display: block;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  color: white;
}
