* {
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  height: 600px;
  width: 100vw;
  position: relative;
}

.contact-me {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 100px;
  height: 40px;
  background: #5adeed;
  display: block;
  line-height: 40px;
  color: #84b833;
  text-decoration: none;
  text-align: center;
}

.main-block {
  color: white;
  padding-left: 10%;
  display: flex;
  background: #0a173d;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  position: relative;
}

.app-tools {
  min-height: 100vh;
  display: flex;
  /* background: #84b833; */
}

.app-tools .side-bar {
  width: 450px;
}
#side-1 {
  background: #f4a062;
}
#side-2 {
  background: #fbf6bf;
}
#side-3 {
  background: #cd7044;
}
.app-tools .main-bar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app-tools .tag {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background: #84b833; */
}
.tag-image {
  width: 80%;
  border-radius: 3px;
  box-shadow: 0 0 58px -3px rgba(0, 0, 0, 0.4);
  background-color: white;
  opacity: 0.9;
}
.tag-name {
  display: block;
  font-size: 32px;
  font-weight: 300;
  color: #0a173d;
  text-align: left;
  line-height: 40px;
  display: block;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
}

@keyframes slidein {
  from {
    top: -10px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.name {
  display: block;
  font-size: 42px;
  font-weight: 700;
  text-shadow: black;
  animation-name: slidein;
  animation-duration: 1200ms;
  animation-delay: 100ms;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-direction: normal;
  animation-fill-mode: backwards;
  position: relative;
}

.designation {
  display: block;
  font-size: 32px;
  font-weight: 400;
  color: #84b833;
  animation-name: slidein;
  animation-duration: 1200ms;
  animation-delay: 1300ms;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-direction: normal;
  animation-fill-mode: backwards;
  position: relative;
}

.location {
  display: block;
  font-size: 16px;
  line-height: 30px;
  font-style: italic;
  font-weight: 400;
  color: white;
  animation-name: slidein;
  animation-duration: 1200ms;
  animation-delay: 2000ms;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-direction: normal;
  animation-fill-mode: backwards;
  position: relative;
}

.icons {
  margin-top: 15px;
  display: block;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: white;
  animation-name: slidein;
  animation-duration: 1200ms;
  animation-delay: 2000ms;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-direction: normal;
  animation-fill-mode: backwards;
  position: relative;
}
.icons a {
  color: white;
  text-decoration: none;
}
.icons i {
  margin: 0 8px;
  font-size: 24px;
}

.nav-bar {
  position: absolute;
  height: 60px;
  width: 100%;
  right: 0;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  padding: 0px 15px;
  box-sizing: border-box;
}

.nav-link {
  font-size: 18px;
  line-height: 60px;
  color: white;
  padding: 0 10px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  min-width: 100px;
  text-align: center;
}

.nav-link:hover::after {
  content: "";
  display: inline-block;
  box-shadow: 0px 2px white;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 2px;
}

.card {
  min-width: 400px;
  min-height: 500px;
  display: block;
  box-shadow: 0px 0px 28px -2px rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 12%;
  background: white;
  border-radius: 4px;
  bottom: -10%;
  background: rgba(10, 23, 61, 1);
  padding: 15px;
  box-sizing: border-box;
  z-index: 2;
}

.title {
  color: #84b833;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  display: inline-block;
}

.tag-item {
  display: inline-block;
  line-height: 30px;
  color: white;
  text-align: center;
  padding: 4px 15px;
  border-radius: 30px;
  font-weight: 500;
  margin: 4px;
  background: #0096ff;
}

.tag-item-reversed {
  color: #0096ff;
  font-size: 16px;
  font-weight: 600;
}

.spacer {
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}

.p-absolute {
  position: absolute;
  left: 15px;
}

.t-bold {
  font-size: 24px;
  font-weight: bold;
}

.nav-title:hover::after {
  display: none;
}

.blog {
  position: relative;
  width: 100vw;
  height: calc(100vh - 60px);
  top: 60px;
  padding-top: 20px;
  box-sizing: border-box;
  overflow: scroll;
}

.post {
  width: 600px;
  height: auto;
  margin-left: 12%;
}
.post-header {
  width: 100%;
  line-height: 40px;
  font-size: 18px;
  border-bottom: 2px solid #0096ff;
  color: #84b833;
  font-weight: 500;
}

.post-body {
  display: inline;
  font-size: 14px;
  line-height: 24px;
  /* letter-spacing: 0; */
  /* word-spacing: 2px; */
  font-weight: 300;
  text-align: left;
}

.post-bottom {
  height: 120px;
}

.nav-white {
  background: white;
}

.nav-blue {
  background: #0a173d;
}

.nav-white .nav-link {
  color: #0a173d;
}

.nav-white .nav-link:hover::after {
  box-shadow: 0px 2px #0a173d;
}

.subscription-box {
  height: 30vh;
  min-height: 250px;
  background: #0096ff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 120px;
}

.submit-btn {
  min-width: 100px;
  height: 50px;
  box-shadow: none;
  border: none;
  border-radius: 3px;
  color: white;
  background: #f4a062;
  font-size: 18px;
  font-weight: 500;
  padding: 0 15px;
}

.input-field {
  width: 500px;
  height: 50px;
  box-shadow: none;
  border: none;
  border-radius: 3px;
  margin: 0;
  padding: 15px;
  font-size: 18px;
}
.input-field:focus {
  outline: none;
}

.hero-text {
  width: 600px;
  font-size: 24px;
  color: white;
  display: block;
  margin-bottom: 20px;
}

.subscription-form {
  display: flex;
  flex-direction: column;
}

.block {
  position: relative;
  min-height: 100vh;
  padding-top: 60px;
  box-sizing: border-box;
}
.work-section {
  position: relative;
  padding: 20px 0px;
  width: 100%;
  height: 740px;
  box-sizing: border-box;
}
.work-section:last-child {
  margin-bottom: 0;
}
.image {
  position: absolute;
  width: 1300px;
  border-radius: 6px;
  box-shadow: 0px 6px 21px 9px rgba(0, 0, 0, 0.1);
  z-index: 1;
  transition: left ease-out 1800ms, right ease-out 1800ms,
    opacity ease-out 1800ms;
}

.caption-box {
  position: relative;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.caption-title {
  font-size: 21px;
  font-weight: 500;
  color: #84b833;
}

.caption-body {
  font-size: 14px;
  color: black;
  width: 500px;
}

.work-section-left .image {
  left: -650px;
  opacity: 0.8;
}
.work-section-left .image:hover {
  left: -500px;
  opacity: 1;
}

.work-section-right .image {
  right: -650px;
  opacity: 0.8;
}

.work-section .image:hover {
  right: -500px;
  opacity: 1;
}

.work-section-left .caption-box {
  padding-left: 660px;
}

.work-section-right .caption-box {
  padding-right: 660px;
}

.caption-footer {
  width: 500px;
  display: inline-block;
}

.btn {
  display: inline-block;
  height: 40px;
  line-height: 16px;
  padding: 12px 16px;
  border-radius: 3px;
  color: white;
  background: #0a173d;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 500;
  margin-right: 12px;
  text-decoration: none;
}
